*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --deep-purple: #38166b;
    --light-purple: #512d81;
    --sidebar-purple: #71478d;
    --search-purple: #ecd6f3;
    --color-flip: invert(100%) sepia(7%) saturate(0%) hue-rotate(85deg) brightness(107%) contrast(109%);
    --like-color: invert(50%) sepia(90%) saturate(1284%) hue-rotate(302deg) brightness(101%) contrast(101%);
    --like-animation: invert(69%) sepia(76%) saturate(5154%) hue-rotate(88deg) brightness(121%) contrast(127%);
    --watch-color: invert(29%) sepia(96%) saturate(1411%) hue-rotate(210deg) brightness(104%) contrast(109%);
    --watch-animation: invert(12%) sepia(93%) saturate(7483%) hue-rotate(2deg) brightness(113%) contrast(112%);
    --share-color: invert(60%) sepia(100%) saturate(744%) hue-rotate(17deg) brightness(98%) contrast(101%);
    --share-animation: invert(14%) sepia(96%) saturate(3906%) hue-rotate(285deg) brightness(78%) contrast(102%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header {
    grid-column: 2;
    padding: 16px 48px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 15px;
}

.header .top-bar {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-auto-flow: column;
}

.top-bar p {
    font-size: 1.2rem;
    font-weight: 600;
}

.header .top-bar img {
    height: 30px;
    width: 30px;
}

.top-bar ul {
    display: grid;
    grid-template-columns: 50px 50px 1fr;
    gap: 10px;
    justify-items: center;
    list-style-type: none;
}

.top-bar ul:last-child {
    justify-self: left;
}

input {
    appearance: none;
    outline: none;
    border: none;
}

input[type="search"] {
    border-radius: 16px;
    background: var(--search-purple);
    width: 70%;
    padding: 5px 15px;
    font-size: 0.95rem;
    font-weight: 600;
    vertical-align: top;
}

.header .bottom-bar {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-auto-flow: column;
    gap: 20px;
}

.header .bottom-bar div {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 20px 1fr;
    align-items: start;
}

#username {
    grid-column: 2;
    font-size: 2rem;
    font-weight: 700;
}

.header .bottom-bar img {
    height: 60px;
    width: 60px;
}

button {
    border: none;
    border-radius: 2rem;
    padding: 16px 48px;
    cursor: pointer;
    color: #ddd;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--deep-purple);
    transition: 0.1s;
}

button:hover {
    background-color: var(--light-purple);
}

button:active {
    background-color: var(--deep-purple);
    transform: scale(0.95);
}

.sidebar {
    grid-column: 1;
    grid-row: 1/3;
    padding: 0px 50px;

    display: grid;
    grid-template-rows: 100px 300px 100px;
    background-color: var(--sidebar-purple);
}

.sidebar > * {
    filter: var(--color-flip);
}

.sidebar .logo {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.sidebar .logo img {
    height: 36px;
    width: 36px;
    align-self: center;
    padding-top: 6px;
    margin-left: -7px;
}

.sidebar li {
    list-style: none;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar img {
    width: 24px;
    height: 24px;
}

.content {
    grid-column: 2;
    grid-row: 2;
    padding: 30px;

    display: grid;
    grid-template-columns: 2fr, 1fr;
    gap: 50px;
    background-color: var(--search-purple);
}

.content .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.content .card {
    border-radius: 0.75rem;
    padding: 0.875rem;
    height: 220.5px;
    background-color: white;
    display: grid;
}

.content .card .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-interactions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    justify-items: end;
    grid-auto-flow: column;
    align-items: end;
}

.like:hover,
.watch:hover,
.share:hover {
    cursor: pointer;
}

.like {
    filter: var(--like-color)
}

@keyframes liked {
    0% {
        filter: var(--like-color)}
    35% {
        rotate: 0deg;
    }
    45% {
        rotate: 15deg;
    }
    50% {
        filter: var(--like-animation);
        transform: scale(1.25);
    }
    55% {
        rotate: -15deg
    }
    65% {
        rotate: 0deg;
    }
    100% {
        filter: var(--like-color)
    }
}

.like.clicked {
    animation-name: liked;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

.watch {
    filter: var(--watch-color);
}

@keyframes watched {
    0% {
        filter: var(--watch-color)}
    35% {
        rotate: 0deg;
    }
    45% {
        rotate: 15deg;
    }
    50% {
        filter: var(--watch-animation);
        transform: scale(1.25);
    }
    55% {
        rotate: -15deg
    }
    65% {
        rotate: 0deg;
    }
    100% {
        filter: var(--watch-color);
    }
}

.watch.clicked {
    animation-name: watched;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

.share {
    filter: var(--share-color);
}

@keyframes shared {
    0% {
        filter: var(--share-color)}
    35% {
        rotate: 0deg;
    }
    45% {
        rotate: 15deg;
    }
    50% {
        filter: var(--share-animation);
        transform: scale(1.25);
    }
    55% {
        rotate: -15deg
    }
    65% {
        rotate: 0deg;
    }
    100% {
        filter: var(--share-color);
    }
}

.share.clicked {
    animation-name: shared;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

.content .card img {
    width: 30px;
    height: 30px;
}

.news {
    grid-column: 2;
    display: grid;
    grid-template-rows: 300px 300px;
}

.news > div {
    width: 400px;
}